#wrapper {
position:relative;
top:35px;
margin:0px auto;
width: 800px;
border:0px;
padding:0px;
}
#qg {
position:absolute;
top:0;
left:0;
width:5%;
height:40px;
background-color:yellow;
border-right:10px black solid;
border-bottom:10px black solid;
}
#qb {
position:absolute;
top:45px;
left:0;
width:5%;
height:40px;
background-color:white;
border-right:10px black solid;
border-top:5px black solid;
}
#qbl {
position:absolute;
top:0px;
right:0;
width:180px;
height:90px;
background-color:#01568c;
border-left:10px black solid;

}
#wrapper2{
position:absolute;
top:113px;
margin:0px auto;
width: 100%;
border:0px;
padding:0px;
background:#e8e8e8 url(sfondo_m.png) repeat-y;

}

#header #logo, #branding, #main, .sidebar {
  float: left;
}
#search, #header-additional {
  float: right;
}
#menu, #content, #footer {
  clear: both;
}

#main {
  width:610px; 
  margin:0px;
  border-bottom:10px black solid;
  background:#e66345;
  padding:0;
  float:left;
}
#c_main {
width:560px;
margin:25px 10px;
padding:0;
}
.sidebar {
  width: 180px;
  float:right;
}
#sidebar-left {
  margin-right: -1px;
   margin-left: 5px;
}
#sidebar-right {
  margin-left: 0px;
}

