body {
margin:0px;
padding:0px;
background-color: #000000;   
}
#logo1 {
position:Absolute;
top:5px;
left:60px;
float:left;
}
#branding h1{
position:absolute;
left:150px;
top:20px;
}

.slogan {
position:absolute;
left:150px;
top:50px;
}
a, a:link, a:active, a:visited,
h1, h2, h3, h4, h5, h6 {
  color: #000040;
}
a img, a:link img, a:active img, a:visited img, a:hover img {
  border: none;
}
h1 a, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active,
h2 a, h2 a:link, h2 a:visited, h2 a:hover, h2 a:active,
h3 a, h3 a:link, h3 a:visited, h3 a:hover, h3 a:active,
h4 a, h4 a:link, h4 a:visited, h4 a:hover, h4 a:active,
h5 a, h5 a:link, h5 a:visited, h5 a:hover, h5 a:active,
h6 a, h6 a:link, h6 a:visited, h6 a:hover, h6 a:active {
  color: #000040;
  border: none
}
#main .node .content a:visited {
  color: #999;
}
blockquote {
  border-left: 1em solid #eee;
}

#wrapper {
  border: 0;
}
.sidebar {
color:black;
border-left:1px solid black;
}
.block  {
border-bottom:10px solid black;  
}
/*
*  Header
*/
#header {
  height:90px;
  width:100%;
  background-color:#fefcfc;
  margin:0px 0px;
  border: 0px;

}
#header h1 a {
  color: #fff;
}
#header .slogan {
  color: #fff;
} 
#header-additional, 
#header-additional h2, 
#header-additional h3, 
#header-additional h4, 
#header-additional h5, 
#header-additional h6, 
#header-additional a, 
#header-additional a:visited {
  color: #fff;
}
#search input {
  color: #87290b;
  background: #f8f7f7;
  border: 1px solid #87290b;
}
#search input:focus {
  background: #f8f7f7;
}
#search input.form-submit {
  color: #87290b;  
  background: #f3f2f2;;
  border-width: 1px;
  border-style: solid;
  border-top-color: #87290b;
  border-left-color: #87290b;
  border-right-color: #87290b;
  border-bottom-color: #87290b;
}
#search input.form-submit:focus {
  border-top-color: #87290b;
  border-left-color: #87290b;
  border-right-color: #87290b;
  border-bottom-color: #87290b;
}

/*
*  Menus
*/
#menu{
margin:89px 0 0;
width:846px;
height:40px;

}
.primary_menu {
position:absolute;
top:89px;
  border:0px;
  width:100%;
  height:22px;
}
.secondary_menu {
top:0px;
right:1em;
margin:0px;
border:0px;
height:22px;
}


.primary_menu a,
.primary_menu a:link,
.primary_menu a:active,
.primary_menu a:visited {
  border: 0;
}

.primary_menu a:active,
.primary_menu  a:hover,
.primary_menu a:focus {
	background:url(img/marcatore_menu1.gif) no-repeat 50% 20%;

}
.primary_menu  a.active:hover,
.primary_menu  a.active:focus, 
.primary_menu a,
.primary_menu a:link,
.primary_menu a:active,
.primary_menu a:visited, 
.primary_menu  a:hover,
.primary_menu  a:focus {
  color: white;
}
#menu .secondary_menu {
  background: #ccc;
}
.secondary_menu a,
.secondary_menu a:link,
.secondary_menu a:active,
.secondary_menu a:visited {
  color: #000040;
  border-bottom: none;
}
.secondary_menu  a:hover,
.secondary_menu  a:focus {
  color: #000040;
}
.secondary_menu  a.active:hover,
.secondary_menu  a.active:focus {
  color: #000040;
}
.secondary_menu a:active,
.secondary_menu  a:hover,
.secondary_menu a:focus {
	background:url(img/marcatore_menu2.gif) no-repeat 50% 2%;

}
/*
*  Sidebar
*/
.sidebar-left #main {
  border-left: 0;
}
.sidebar-right #main {
  border-right: 0;
}
.sidebars #main {
  border-left: 0;
  border-right: 0;
}

#sidebar-right {
  border-left: 0;
}
#sidebar-left {
  border-right: 0;
}
/* Blocks */
.sidebar a,
.sidebar a:link,
.sidebar a:active,
.sidebar a:visited {
  color: #000040;
  border-bottom: none;
}
.sidebar a:hover,
.sidebar a:focus {
  border-bottom: 0;
}

/*
*  Footer
*/
#footer {
  color: #999;
  height:20px;
  bottom:-10px;
  width:610px;
  margin:30px 0px;
  background: #fefefe;
  border-top:10px black solid;
  border-right:10px black solid;
}
#footer2 p {
height:35px;
line-height:1.8em;
}
#footer1 {
position:absolute;
bottom:0px;
width:15px;
height:41px;
left:0px;
margin-bottom:0px;
background:url(img/piede_1.gif) no-repeat;
float:left;
}
#footer2 {
position:absolute;
bottom:0px;
width:771px;
height:41px;
margin-bottom:0px;
left:15px;
background:url(img/piede_2.gif) repeat-x;
 float:left;
}
#footer3 {
position:absolute;
bottom:0px;
width:37px;
height:41px;
right:0px;
margin-bottom:0px;
background:url(img/piede_3.gif) no-repeat;
float:left;
}

.credits {
margin-bottom:0px;
}
p.credits {
color:gray;
}
.credits a {
color:#000040;
}

/*
*  Content
*/
.node .links, .node .taxonomy {
  color: #999;
}

.node.teaser .calendar {
  background: #e8e7e7 url(bg2.png) bottom repeat-x; }
/*=======*/
.node.teaser .calendar {
  background: #fef8f8 url(bg2.png) bottom repeat-x; 

}
.messages, .node .meta, .comment, .node.teaser .calendar {
  color: #999;  
  border: 1px solid;
  border-top-color: #f3f3f3;
  border-left-color: #f3f3f3;
  border-bottom-color: #ddd;
  border-right-color: #eee;
}
.messages, .node .meta, .comment {
  background: #e7e7e7;
}
.messages {
  color: #666;
}
.node.teaser .meta {
  background: transparent;
  border: none;
}
.node.teaser .calendar .time {
  color: #999;
}
.node.teaser .author {
  color: #999;
}
.book-navigation .menu {
  border: none;
}
.book-navigation .page-links {
  border: 1px solid #ccc;
}
.comment {
  color: #fafafa;
}
.comment .id, .comment .id a, .comment .id a:link, .comment .id a:active, .comment .id a:visited {
  color: #ddd;
}
.comment .submitted, .comment .links {
  color: #999;
}
.new {
  color: red;
}

/*
 * Images
 */
.node .content img {
  background: #eee;
  border:0;
}
a.image:hover img {
  background: #ccc;
}


#linea {
position:absolute;
top:0;
left:10px;
width:100%;
height:6px;
background-color:#7d260a;
}
.sidebar u.menu.li {
list-style-type:none;
}
ul.content  li{
list-style-type: square;
color:#88280b;
}
.content ul.menu {
margin:12px;
}

#branding a, #branding h1, .slogan{
color: #000040;
}